*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

/* Tipograf铆a y colores */
:root {
  --color-primary: #0F62FE;
  /* Azul */
  --color-text: #21272A;
  /* Gris oscuro */
  --color-text-h2: #001D6C;

  /* 2do fondo */
  --background-color-2: #F2F4F8;
  /* Fondo rojo */
  --color-red: #e12e20;

  --header-height: 70px;

  --color-primary: #0F62FE;
  --color-text: #21272A;
  --color-attended: #4CAF50;
  /* Verde */
  --color-in-attention: #FFC107;
  /* Amarillo */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Evita el scroll del body */
  scroll-behavior: smooth;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body {
  /*APP*/
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  margin: 0;
  scroll-behavior: smooth;


}

/* Estilo general del modal */
#modal {
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Evita borde al enfocar */
#modal:focus {
  outline: none;
}

/* Fondo difuminado cuando el modal est谩 abierto */
#modal::backdrop {
  background-color: rgba(38, 38, 38, 0.637);
  /**/
  backdrop-filter: blur(8px);
}

/*  Estado inicial al abrir */
dialog[open] {
  animation: dialogFadeIn 0.3s ease forwards;
}

/*  Estado al cerrar */
dialog.closing {
  animation: dialogFadeOut 0.3s ease forwards;
}

/* Entrada */
@keyframes dialogFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.98);

  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

  }
}

/* Salida */
@keyframes dialogFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

  }

  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.98);

  }
}

/* Backdrop con animaci贸n tambi茅n */
dialog::backdrop {
  animation: backdropFadeIn 0.3s ease forwards;
  background-color: rgba(0, 0, 0, 0.2);

}

dialog.closing::backdrop {
  animation: backdropFadeOut 0.3s ease forwards;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

@keyframes backdropFadeOut {
  from {
    opacity: 1;

  }

  to {
    opacity: 0;

  }
}


/**/
/**/
/**/

#confirmar-cierre-sesion {
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#confirmar-cierre-sesion::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
}

.confirm-dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.confirm-btn {
  background-color: #e53935;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}

.cancel-btn {
  background-color: #ccc;
  color: #333;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}

/**/
/**/
/**/

.copiado-dialog {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  color: var(--color-text);
  background-color: #21272a25;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: none;
  font-size: 0.9rem;
  backdrop-filter: none;
  animation: fadeOut 2s ease forwards;
  pointer-events: none;
  /* Evita que bloquee clicks */
  z-index: 999;
  border-radius: 8px;
  backdrop-filter: blur(50px);
}

.copiado-dialog:focus {
  outline: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* ANIMACIONES */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutSlide {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* APLICACIN GENERAL */
.fade-in {
  animation: fadeInSlide 0.4s ease forwards;
}

.fade-out {
  animation: fadeOutSlide 0.3s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.dialog-toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  color: var(--color-text);
  background-color: #21272a25;
  font-size: 0.9rem;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(50px);
}

.dialog-toast.show {
  animation: fadeInUp 0.3s ease forwards;
  border: none;
  outline: none;

}

.dialog-toast.hide {
  animation: fadeOutDown 0.3s ease forwards;
  border: none;
  outline: none;
}


/* Bot贸n flotante */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0F62FE;
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-btn:hover {
  transform: scale(1.1);
}

/* Estilos del panel lateral derecho */
.todo-dialog {
  /* Anula estilos del dialog general */
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  margin: auto 0px;
  max-width: 500px;
  width: 100%;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.2 );
  z-index: 1000;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 8px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);

  display: flex;
  flex-direction: column;

  /* Animaci贸n de entrada y salida */
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;

  /* Se anulan las animaciones por defecto del dialog[open] */
  animation: none !important;
  height: 95vh;

}

.todo-dialog[open] {
  transform: translateX(0);
  opacity: 1;
}

.todo-dialog.closing {
  transform: translateX(100%);
  opacity: 0;
}

.todo-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-out;
}

.todo-dialog.closing::backdrop {
  opacity: 0;
}

.todo-header {
  background-color: #f2f2f2;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.todo-header h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-text);
}

/* Contenedor de las tareas */
.task-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Scrollbar del contenedor de tareas */
.task-list::-webkit-scrollbar {
  width: 6px;
  background-color: #ccc;
}

.task-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

/* Estilo de cada tarea */
.task-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-left: 5px solid;
  /* Borde para el estado */
  transition: border-left-color 0.2s ease-in-out;
}

/* Estilos para los estados */
.task-item.in-attention {
  border-left-color: var(--color-in-attention);
}

.task-item.attended {
  border-left-color: var(--color-attended);
}

/* Contenedores de texto editables */
.task-title,
.task-description {
  outline: none;
  border: none;
  padding: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.task-title {
  border: solid 1px #ccc;
  font-weight: 600;
  font-size: 1rem;

}

.task-description {
  font-family: consolas, monospace;
  font-size: 0.9rem;
  line-height: 1.4;
}

.task-title:focus,
.task-description:focus {
  background-color: #ffffff8a;
  backdrop-filter: blur(30px);

}

/* Botones de acci贸n */
.task-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.status-btn,
.delete-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

.status-btn {
  flex-grow: 1;
  color: #fff;
  transition: background-color 0.2s ease;
}

.status-btn.in-attention {
  background-color: var(--color-in-attention);
}

.status-btn.attended {
  background-color: var(--color-attended);
}

.delete-btn {
  background-color: #e53935;
  color: white;
}

/* Bot贸n para a帽adir nueva tarea */
.add-task-btn {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-task-btn:hover {
  background-color: #0c56d6;
}