/* Reset b치sico */
*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

/* Tipograf칤a y colores */
:root {
    --color-primary: #0F62FE;
    /* Azul */
    --color-text: #21272A;
    /* Gris oscuro */
    --color-text-h2: #001D6C;

    /* 2do fondo */
    --background-color-2: #F2F4F8;
    /* Fondo rojo */
    --color-red: #e12e20;

    --header-height: 70px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Evita el scroll del body */
    scroll-behavior: smooth;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body {
    /*APP*/
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    margin: 0;
    scroll-behavior: smooth;


}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: .9rem;
}

ul {
    list-style: none;
}

/* Estilos del header */

header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    /* Para que el header se quede en la parte superior y ocupe todo el ancho */
    width: 100%;
    height: var(--header-height);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* compatibilidad Safari */
}

.header__container {
    width: 100%;
    margin: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    background-size: cover;
    background-position: center;
}

.header__list {
    list-style: none;
    transition: .5s transform;
    display: flex;
    place-content: unset;
    padding: 0;
    gap: 3rem;
}

.header__item {
    list-style: none;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    gap: 2rem;
}

.header__link {
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none;
}

.header__link:hover {
    color: #e12e20;
    transition: all .5s ease;
    
}


.header__link__red{
    color:#e12e20;
    font-weight: 700;
    text-decoration: none;
}

.header__link__red:hover {
    color: rgb(91, 89, 89);
    transition: all 1s ease;
    
}


.nav__logo {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-size: 0.9rem;
}

/* Estilos del main */

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* Resta la altura del header */
    overflow: hidden;
    /* Muy importante */
}

.log-in-button {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: #0F62FE;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
}

.user-credentials {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-text);
    padding: 6px 8px;
    border-radius: 16px;
}

/* Vista de usuario activa en el header */
.user-view {
    background-color: var(--color-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 0.8rem;
}

.user-info .adp {
    font-weight: 600;
    color: var(--color-primary);
}

#cerrar-sesion {
    cursor: pointer;
    color: #e12e20;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    padding: 4px;
    border-radius: 8px;
}

#cerrar-sesion:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
}

/* Estilos del nav*/

nav {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* Resta la altura del header */
    overflow: hidden;
}



.nav {
    width: 20%;
    max-height: 100vh;
    background-color: #e12e20;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

}

#modal {}


.datos {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 8px;
    padding: 16px 0px;
}

.datos label {
    color: #303440;
    font-weight: 600;
    font-size: 0.9rem;
    padding-bottom: 4px;
}

.datos input {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;

    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.85rem;
    color: #303440;
}

.datos h2 {
    width: 100%;
    color: var(--color-text-h2);
    margin-bottom: 8px;
    text-align: center;
}

.datos #btn-guardar {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: #0F62FE;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
}

.datos #btn-sin-credenciales {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: var(--color-text);
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
}


.nav__link {
    color: #ffffff;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 600;
}

.nav__link--inside {
    border-radius: 8px 0px 0px 8px;
    padding-left: 12px;
    text-align: left;
    font-weight: 400;
}

.nav__link--inside:hover {
    background: #ff3a3a;
}

.list {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    overflow-y: visible;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 4px 0;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 4px;
    gap: 8px;
    width: 90%;
    margin: 0 auto;
}

.list__button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;


}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s ease;
}

.list__show {
    width: 100%;
    border-left: 4px solid #ff9f9f;
    list-style: none;
    transition: height .4s ease;
    height: 0;
}

/* Scrollbar base (track) */
main nav::-webkit-scrollbar,
main aside::-webkit-scrollbar {
    width: 6px;
}

/* Scrollbar 'thumb' (la parte que se mueve) */
main aside::-webkit-scrollbar-thumb {
    background-color: #ff00004d;
    /* azul semi-transparente */
    border-radius: 4px;
}

main nav::-webkit-scrollbar-thumb{
    background-color: #ffffff4d;
    /* azul semi-transparente */
    border-radius: 4px;
}

/* Fin de Estilos del nav*/

main aside {
    width: 80%;
    background-color: #ffffff;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    /* igual a la altura del header */
    padding-top: var(--header-height);
    overflow-y: auto;
}

.container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    padding: 24px 24px;
    border-bottom: 1px solid #ccc;
    gap: 16px;
}

.container h3 {
    margin-top: 8px;
}



.container__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    padding-top: 0px;
    gap: 16px;
}

.container__grid__item>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    width: 100%;
    flex: 1;
}


#speech_val_llamada .container {
    gap: 16px;
    border-bottom: 1px solid #ccc;
}


#speech_val_llamada .container__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Para 4 columnas */
    height: 100%;
    padding-top: 0px;
}

#speech_val_llamada .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: unset;
    justify-content: unset;
    margin: auto;
    width: 100%;
    text-align: justify;
    align-items: stretch;
    /* aseg칰rate que no se contraiga */
}

#validacion-general,
#speech-instalacion-seguimiento,
#speech-postventa-seguimiento,
#speech-mantenimiento-seguimiento {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.plantilla {

    line-height: 1.5;
    color: var(--color-text);
    padding: 16px;
    border-radius: 8px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.adp {
    font-weight: 600;
    color: var(--color-primary);
}

.plantilla p {
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.7rem;
}

.plantilla button {
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    border: none;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.plantilla button:hover {
    background-color: #d5d5d5;
}

.copiar-contenedor {
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 12px;
}

.copy-icon {
    cursor: pointer;
    color: rgb(101, 101, 101);
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.copiado {
    font-size: 0.8rem;
    color: rgb(34, 34, 34);
    opacity: 0;
    border-radius: 4px;
    padding: 4px 4px;
    transition: opacity 0.3s ease;
    transition: height .4s ease;

    background-color: #dddddd;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.copiado.mostrar {
    opacity: 1;
    transition: height .4s ease;
}

.hidden {
    display: none;
    transition: height .4s ease;
}

/*ESTILOS DE TABLA*/
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #0F62FE;
    color: white;
}

thead:hover {
    background-color: #0059ff;
}

th,
td {
    padding: 8px 8px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}


tbody tr:hover {
    font-weight: 600;
    background-color: #f5f5f5;
}

tbody tr:last-child td {
    border-bottom: none;
}


/**/

#speech-inicio .container {
    gap: 16px;
    border-bottom: 1px solid #ccc;
}

#speech-inicio .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 4 columnas */
    padding-top: 0px;
    width: 100%;
}

#speech-inicio .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#speech-inicio .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/**/

#activaciones .container {
    gap: 16px;
    border-bottom: 1px solid #ccc;
}

#activaciones .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#activaciones .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#activaciones .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


.codigos-aut {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* LISTA DE C칍DIGOS */
#historial-codigos {
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

#historial-codigos h4 {
    margin: 0 0 8px 0;
    color: #4687ff;
    font-size: 1rem;
}

#lista-codigos {
    list-style-type: decimal;
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    color: #333;
}

/* BOTONES UNIFICADOS */
.button {
    background-color: #0F62FE;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}

.button_delete {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0043ce;
}

.button_delete:hover {
    background-color: #ff0000;
}

/* C칍DIGO GENERADO DESTACADO */
.codigo-generado {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    color: #222;
    margin-top: 12px;
    word-break: break-word;
}

#a-cod-autorizacion-cambio-equipo {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

#a-cod-autorizacion-cambio-equipo .button {
    flex: 1;
    /* Ocupa el 50% del espacio (mitad y mitad) */
    text-align: center;
}

#validaciones .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#validaciones .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#validaciones .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#validaciones .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


/**/

#general-seguimiento .container {
    gap: 16px;
    border-bottom: 1px solid #ccc;
}

#general-seguimiento .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#general-seguimiento .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#general-seguimiento .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


/**/


#reagendados .container {
    gap: 16px;
    border-bottom: 1px solid #ccc;
}

#reagendados .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#reagendados .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#reagendados .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}



/**/

#rechazos-mesa-campo .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#rechazos-mesa-campo .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#rechazos-mesa-campo .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#rechazos-motivo-tecnico .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#rechazos-motivo-tecnico .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#rechazos-motivo-tecnico .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/**/

#cierre-manto-mesa .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#cierre-manto-mesa .container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#cierre-manto-mesa .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#cierre-manto-mesa .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/**/

#cierre-manto-campo .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#cierre-manto-campo .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#cierre-manto-campo .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#cierre-manto-campo .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/**/

#derivacion-pext-hfc .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#derivacion-pext-hfc .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#derivacion-pext-hfc .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#derivacion-pext-hfc .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/**/

#derivacion-pext-ftth .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#derivacion-pext-ftth .container__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Para 3 columnas */
    padding-top: 0px;
    width: 100%;
}

#derivacion-pext-ftth .container__grid__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    text-align: justify;
    margin: 0;
    align-items: stretch;
}

#derivacion-pext-ftth .plantilla {
    flex: 1;
    background-color: #ebebeb;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    /* 游댠 lo m치s importante */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

