


td.style4 {
    background-color: #FF0;
}

th.style4 {
    background-color: #FF0;
}

td.style5 {
    background-color: #FF0;
}

th.style5 {
    background-color: #FF0;
}

td.style6 {
    background-color: #FF0;
}

th.style6 {
    background-color: #FF0;
}

td.style14 {
    background-color: #FF0;
}

th.style14 {
    background-color: #FF0;
}

td.style15 {
    background-color: #FF0;
}

th.style15 {
    background-color: #FF0;
}

td.style16 {
    background-color: #FF0;
}

th.style16 {
    background-color: #FF0;
}

td.style17 {
    background-color: #C8C8C8;
}

th.style17 {
    background-color: #C8C8C8;
}

td.style18 {
    background-color: #C8C8C8;
}

th.style18 {
    background-color: #C8C8C8;
}

td.style19 {
    background-color: #C8C8C8;
}

th.style19 {
    background-color: #C8C8C8;
}

td.style20 {
    background-color: #F4B083;
}

th.style20 {
    background-color: #F4B083;
}

td.style21 {
    background-color: #F4B083;
}

th.style21 {
    background-color: #F4B083;
}

td.style22 {
    background-color: #F4B083;
}

th.style22 {
    background-color: #F4B083;
}

td.style23 {
    background-color: #F4B083;
}

th.style23 {
    background-color: #F4B083;
}

td.style24 {
    background-color: white;
}

th.style24 {
    background-color: white;
}

td.style25 {color: white;
    background-color: #737373;
}

th.style25 {color: white;
    background-color: #737373;
}

td.style26 {color: white;
    background-color: #737373;
}

th.style26 {color: white;
    background-color: #737373;
}

td.style27 {
    color: white;
    background-color: #93F;
}

th.style27 {
    color: white;
    background-color: #93F;
}

td.style28 {
    color: white;
    background-color: #93F;
}

th.style28 {
    color: white;
    background-color: #93F;
}

td.style29 {
    color: white;
    background-color: #93F;
}

th.style29 {
    color: white;
    background-color: #93F;
}

td.style30 {color: white;
    background-color: #93F;
}

th.style30 {color: white;
    background-color: #93F;
}

td.style31 {
    background-color: white;
}

th.style31 {
    background-color: white;
}

td.style32 {
    background-color: #8EAADB;
}

th.style32 {
    background-color: #8EAADB;
}

td.style33 {color: white;
    background-color: #737373;
}

th.style33 {color: white;
    background-color: #737373;
}

td.style34 {
    background-color: #8EAADB;
}

th.style34 {
    background-color: #8EAADB;
}

td.style35 {
    background-color: #8EAADB;
}

th.style35 {
    background-color: #8EAADB;
}

td.style36 {
    background-color: #8EAADB;
}

th.style36 {
    background-color: #8EAADB;
}

td.style37 {color: white;
    background-color: #737373;
}

th.style37 {color: white;
    background-color: #737373;
}

td.style38 {
    background-color: white;
}

th.style38 {
    background-color: white;
}

td.style39 {
    background-color: white;
}

th.style39 {
    background-color: white;
}

td.style40 {
    background-color: white;
}

th.style40 {
    background-color: white;
}

td.style41 {
    background-color: white;
}

th.style41 {
    background-color: white;
}

td.style42 {
    background-color: #F4B083;
}

th.style42 {
    background-color: #F4B083;
}

td.style43 {
    background-color: #F4B083;
}

th.style43 {
    background-color: #F4B083;
}

td.style44 {
    background-color: #F4B083;
}

th.style44 {
    background-color: #F4B083;
}

td.style45 {
    background-color: #F4B083;
}

th.style45 {
    background-color: #F4B083;
}

td.style46 {
    background-color: #FFC000;
}

th.style46 {
    background-color: #FFC000;
}

td.style47 {
    background-color: #FFC000;
}

th.style47 {
    background-color: #FFC000;
}

td.style48 {
    background-color: #FFC000;
}

th.style48 {
    background-color: #FFC000;
}

td.style49 {
    background-color: #FF0;
}

th.style49 {
    background-color: #FF0;
}

td.style50 {
    background-color: white;
}

th.style50 {
    background-color: white;
}

td.style51 {
    background-color: white;
}

th.style51 {
    background-color: white;
}

td.style52 {
    background-color: white;
}

th.style52 {
    background-color: white;
}

td.style53 {
    background-color: #FF0;
}

th.style53 {
    background-color: #FF0;
}

td.style54 {
    background-color: #FF0;
}

th.style54 {
    background-color: #FF0;
}

td.style55 {
    background-color: #FF0;
}

th.style55 {
    background-color: #FF0;
}

td.style56 {
    background-color: #F4B083;
}

th.style56 {
    background-color: #F4B083;
}

td.style57 {
    background-color: white;
}

th.style57 {
    background-color: white;
}

td.style58 {
    background-color: #FF0;
}

th.style58 {
    background-color: #FF0;
}

td.style59 {
    background-color: #FF0;
}

th.style59 {
    color: white;
    background-color: #FF0;
}

td.style60 {
    color: white;
    background-color: #93F;
}

th.style60 {
    color: white;
    background-color: #93F;
}